@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  border-left: 1px solid #ccc;
  transition: 0.2s all ease-in-out;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

html{
  scroll-behavior: smooth !important;
}
hr{
  border: 1px solid #ccc;
  width: 100%;
}
body{
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial;
  /* border: 1px solid #ff000477; */
}
::selection{
  background-color: #2758b34b !important;
}

thead {
  background-color: #ccc;
  text-align: center;
}
tbody tr:nth-child(even){
  background-color: #f4f4f4;
}

th, td {
  padding: 10px;
  border-radius: 4px;
}
table{
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 8px;
  @media (max-width: 650px) {
    width: 100%;
  }
}

img{
  width: 100%;
  border-radius: 8px;
}
h3{
  margin-top: 10px;
}
button{
  cursor: pointer;
}
a{
  color: #2758b3;
  cursor: pointer;
}
a:hover{
  color: #2556b1;
  transition: 0.1s;
}
img.gallery{
  border-radius: 8px;
  width: 100%;
  object-fit:cover;
}
ul{
  padding-left: 40px;
}
details summary{
  font-size: 26px;
  cursor: pointer;
}
details{
  margin-block: 10px;
  :not(ul li)::marker{
    content: "▶️";
  }
  &[open] :not(ul li)::marker{
    content: "🔼";
  }
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}


.home-tab-tags-list{
  position: absolute;
  z-index: 999;
  padding: 14px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 10px 2px #f4f4f4;
  flex-wrap: wrap;
  gap: 6px;
  margin-inline: 10px;
  list-style: none;
  border-radius: 8px;
  width: 20rem;
  display: flex;
  transition: 0.2s;
  @media (max-width: 550px) {
    width: calc(100% - 20px);
  }
}
.home-tab-tag-btn{
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 12px;
  background-color: #fff;
}
.home-card-list:not(.react-tabs__tab-panel--selected) {
  display: none;
}
.home-card-list, .project-list{
  padding: 10px 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.content-p::first-letter{
  padding-left: 10px;
}
main{
  padding-top: 70px;
}

@media (max-width: 550px) {
  .home-card-list, .project-list{
    padding: 10px;
  }
}